<!DOCTYPE html>
<html>
<head>
    <title>bookSytem-购票</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../css/common.css" th:href="@{/css/common.css}">
    <link rel="stylesheet" href="../css/book.css" th:href="@{/css/book.css}">
    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="../js/common.js" th:src="@{/js/common.js}"></script>
    <script src="../js/book.js" th:src="@{/js/book.js}"></script>
</head>
<body>
    <header>
        <div class="content">
            <ul class="left">
                <li class="active">
                    <a href="/" th:href="@{/}">bookSystem</a>
                </li>
            </ul>
            <ul class="right login-signup" th:if="${session.currentUser eq null}">
                <li>
                    <a data-modal="login" id="login-button" href="javascript:void(0)">登录</a>
                </li>
                <li>
                    <a data-modal="signin" id="signin-button" href="javascript:void(0)">注册</a>
                </li>
            </ul>
            <ul class="right" th:if="${session.currentUser ne null}">
                <li>
                    <a id="user-button" href="javascript:void(0)" th:text="${session.currentUser}">blacider</a>
                </li>
            </ul>
            <div id="dropdown-menu" class="hidden" th:if="${session.currentUser ne null}">
                <ul>
                    <a href="/app/logout" th:href="@{/logout}"><li>登出</li></a>
                </ul>
            </div>
        </div>
    </header>
    <div class="path">
        <p class="content path-text">
            <a href="/" th:href="@{/}"><span>首页</span></a> <span>>></span> 订票
        </p>
    </div>
    <div class="content" id="main">
        <img src="../images/item1.jpeg" th:src="@{/images/item1.jpeg}" class="film-img" alt="img">
        <div class="score">
            <div class="star">
                <div class="star star-main">
                    
                </div>
            </div>
            <div class="num">
                <em>9</em><span>.5</span>
            </div>
        </div>
        <div class="film-content">
            <h2>魔兽</h2>
            <div class="film-content-main" th:inline="text">
                <p><span>导演：</span>[[${movie.movieDirector}]]</p>
                <p><span>主演：</span>[[${movie.movieActors}]]</p>
                <p><span>类型：</span>[[${movie.movieTypes}]]</p>
                <p><span>国家：</span>[[${movie.movieBelongCountry}]]</p>
                <p><span>首映：</span>[[${movie.moviePublishTime}]]</p>
                <p><span>片长：</span>[[${movie.movieFilmLength}]]</p>
                <p><span>剧情：</span>[[${movie.movieSummary}]]</p>
            </div>
        </div>
        <h2 class="title">上映影院</h2>
        <ul id="cinema-list">
            <li class="cinema-item" th:each="theater:${theaters}" th:data-id="${theater.id}">
                <div class="cinema-left">
                    <div class="cinema-title" th:text="${theater.theaterName}">
                        广州五月花电影城
                        <div class="score">
                            <div class="star">
                                <div class="star star-main">
                                </div>
                            </div>
                            <div class="num">
                                <em>9</em><span>.5</span>
                            </div>
                        </div>
                    </div>
                    <div class="cinema-position" th:text="${theater.theaterLocation}">
                        广州市越秀区中山五路68号五月花商业广场6楼
                    </div>
                </div>
                <div class="cinema-right">
                    <div class="cinema-book button">选座购票</div>

                </div>
            </li>
        </ul>
    </div>
    <footer>
        <div class="content">
              <p>Copyright © 20016–2016 Blacider.</p>
        </div>
    </footer>
    <div class="modal-fog">
    </div>
    <div class="modal" id="login">
        <div class="close icon">
        </div>
        <div class="modal-head">
            <h1>登录</h1>
        </div>
        <form id="login-form" th:action="@{/login}" method="post">
            <div class="border-wrap">
                <input type="text" placeholder="请输入用户名" required name="name">
            </div>
            <div class="border-wrap">
                <input type="password" placeholder="请输入密码" required name="password">
            </div>
            <input type="text" name="history" style="display:none">
            <input class="login-submit" type="submit" value="登录">
        </form>
    </div>
    <div class="modal" id="signin">
        <div class="close icon">
        </div>
        <div class="modal-head">
            <h1>注册</h1>
        </div>
        <form action="#" th:action="@{/signup}"method="post">
            <div class="border-wrap">
                <input type="text" placeholder="请输入用户名" required name="name">
            </div>
            <div class="border-wrap">
                <input type="password" placeholder="请输入密码">
            </div>
            <div class="border-wrap">
                <input type="password" placeholder="请确认密码" required name="password">
            </div>
            <input class="login-submit" type="submit" value="注册">
        </form>
    </div>
    <div class="modal" id="book">
        <div class="close icon">
        </div>
        <div class="modal-head">
            <h1>选座购票</h1>
        </div>
        <div class="modal-body">
            <div id="time-select">
                <span class="time-active" data-id="1">06.08(周三)</span>
                <span data-id="2">06.09(周四)</span>
            </div>
            <table class="time-table">
                <thead>
                    <tr>
                        <th>
                            放映时间
                        </th>
                        <th>
                            语言版本
                        </th>
                        <th>
                            价格
                        </th>
                        <th>
                            选座
                        </th>
                    </tr>
                </thead>
            </table>
            <div class="book-table" id="table-1">
                <table class="time-table">
                    <tbody>
                        <tr>
                            <td>
                                00:00
                            </td>
                            <td>
                                英语/3D
                            </td>
                            <td class="price">
                                ￥40.0
                            </td>
                            <td>
                                <div class="button book-button">
                                    选座
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                00:00
                            </td>
                            <td>
                                英语/3D
                            </td>
                            <td class="price">
                                ￥40.0
                            </td>
                            <td>
                                <div class="button book-button">
                                    选座
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                00:00
                            </td>
                            <td>
                                英语/3D
                            </td>
                            <td class="price">
                                ￥40.0
                            </td>
                            <td>
                                <div class="button book-button">
                                    选座
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                00:00
                            </td>
                            <td>
                                英语/3D
                            </td>
                            <td class="price">
                                ￥40.0
                            </td>
                            <td>
                                <div class="button book-button">
                                    选座
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                00:00
                            </td>
                            <td>
                                英语/3D
                            </td>
                            <td class="price">
                                ￥40.0
                            </td>
                            <td>
                                <div class="button book-button">
                                    选座
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                00:00
                            </td>
                            <td>
                                英语/3D
                            </td>
                            <td class="price">
                                ￥40.0
                            </td>
                            <td>
                                <div class="button book-button">
                                    选座
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                00:00
                            </td>
                            <td>
                                英语/3D
                            </td>
                            <td class="price">
                                ￥40.0
                            </td>
                            <td>
                                <div class="button book-button">
                                    选座
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                00:00
                            </td>
                            <td>
                                英语/3D
                            </td>
                            <td class="price">
                                ￥40.0
                            </td>
                            <td>
                                <div class="button book-button">
                                    选座
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="book-table hidden" id="table-2">
                <table class="time-table">
                    <tbody>
                        <tr>
                            <td>
                                00:00
                            </td>
                            <td>
                                英语/3D
                            </td>
                            <td class="price">
                                ￥40.0
                            </td>
                            <td>
                                <div class="button book-button">
                                    选座
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>