<!DOCTYPE html>
<html>
<head>
    <title>bookSytem-购票</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/book.css">
    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/book.js"></script>
</head>
<body>
    <header>
        <div class="content">
            <ul class="left">
                <li class="active">
                    <a href="/">bookSystem</a>
                </li>
            </ul>
            <ul class="right">
                <li>
                    <a data-modal="login" id="login-button" href="javascript:void(0)">登录</a>
                </li>
                <li>
                    <a data-modal="signin" id="signin-button" href="javascript:void(0)">注册</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="path">
        <p class="content path-text">
            <a href="/"><span>首页</span></a> <span>>></span> 订票
        </p>
    </div>
    <div class="content" id="main">
        <img src="../images/item1.jpeg" class="film-img" alt="img">
        <div class="score">
            <div class="star">
                <div class="star star-main">
                    
                </div>
            </div>
            <div class="num">
                <em>9</em><span>.5</span>
            </div>
        </div>
        <div class="film-content">
            <h2>魔兽</h2>
            <div class="film-content-main">
                <p><span>导演：</span>邓肯·琼斯</p>
                <p><span>主演：</span>崔维斯·费米尔,托比·凯贝尔,本·福斯特,本·施耐泽,多米尼克·库珀,克兰西·布朗,吴彦祖,宝拉·巴顿,鲁丝·内伽,狄伦·施霍姆宾,泰瑞·诺塔里,安松·蒙特,安东·尤金,丹尼尔·库德摩尔,瑞恩·罗宾斯,Donnie MacNeil,考乐姆·吉斯·雷尼,罗伯特·卡辛斯基,Kristian Bakstad,Mike Antonakos,Michael Patric,安娜·高尔文,Jill Morrison,Burkely Duffield,Anna Van Hooft,Andre Tricoteux,Raj Lal,Valérie Wiseman,Dean Redman,帕特里克·萨邦圭,丹·佩恩,Kyle Rideout,Christian Sloan,Elena Wurlitzer,G·迈克尔·格雷,Elisabeth Rosen,Jordan Gardiner,卡兰·穆尔韦,保罗·达诺</p>
                <p><span>类型：</span>动作,战争,奇幻</p>
                <p><span>国家：</span>美国</p>
                <p><span>首映：</span>2016-06-08</p>
                <p><span>片长：</span>123分钟</p>
                <p><span>剧情：</span>根据暴雪娱乐公司的著名游戏改编，传奇影业的《魔兽》是一部空前紧张刺激的史诗历险巨制，由执导过《月球》和《源代码》的邓肯·琼斯编剧并导演。剧本由查尔斯·李维特（CharlesLeavitt）共同编写。查尔斯·罗文（CharlesRoven）、托马斯·图尔（ThomasTull）、乔·贾希尼（JonJashni）和亚历克斯·加特纳（AlexGartner）出任制片，斯图尔特·菲尼根（StuartFenegan）、吉莉安·谢尔（JillianShare）和布兰特·欧康纳（BrentO’Connor）担任执行制片。</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="content">
              <p>Copyright © 20016–2016 Blacider.</p>
        </div>
    </footer>
    <div class="modal-fog">
    </div>
    <div class="modal" id="login">
        <div class="close icon">
        </div>
        <div class="modal-head">
            <h1>登录</h1>
        </div>
        <form action="#">
            <div class="border-wrap">
                <input type="text" placeholder="请输入用户名" required>
            </div>
            <div class="border-wrap">
                <input type="password" placeholder="请输入密码" required>
            </div>
            <input class="login-submit" type="submit" value="登录">
        </form>
    </div>
    <div class="modal" id="signin">
        <div class="close icon">
        </div>
        <div class="modal-head">
            <h1>注册</h1>
        </div>
        <form action="#">
            <div class="border-wrap">
                <input type="text" placeholder="请输入用户名" required>
            </div>
            <div class="border-wrap">
                <input type="password" placeholder="请输入密码" required>
            </div>
            <div class="border-wrap">
                <input type="password" placeholder="请确认密码" required>
            </div>
            <input class="login-submit" type="submit" value="注册">
        </form>
    </div>
</body>
</html>