<% include head.html %>
<script type="text/javascript">
    var movieId = "<%=movie.movieId%>";
</script>
<link rel="stylesheet" href="css/book.css">

    <div class="path">
        <p class="content path-text">
            <a href="/" th:href="@{/}"><span>首页</span></a> <span>>></span> 订票
        </p>
    </div>
    <div class="content" id="main">
        <img src=<%=movie.moviePictureUrl%> class="film-img" alt="img">
        <div class="score">
            <div class="star">
                <div class="star star-main">
                    
                </div>
            </div>
            <div class="num">
                <em>9</em><span>.5</span>
            </div>
        </div>
        <div class="film-content">
            <h2 id="movieName" data-movieName="<%=movie.movieName%>"><%=movie.movieName%></h2>
            <div class="film-content-main" th:inline="text">
                <p><span>导演：</span><%=movie.movieDirector%></p>
                <p><span>主演：</span><%=movie.movieActors%></p>
                <p><span>类型：</span><%=movie.movieType%></p>
                <p><span>国家：</span><%=movie.movieBelongCountry%></p>
                <p><span>首映：</span><%=movie.moviePublishTime.toLocaleDateString()%></p>
                <p><span>片长：</span><%=movie.movieFilmLength%></p>
                <p><span>剧情：</span><%=movie.movieSummary%></p>
            </div>
        </div>
        <h2 class="title">上映影院</h2>
        <ul id="cinema-list">
            <% for (theaterNum in theaters) {
                var theater = theaters[theaterNum];
            %>
            <li class="cinema-item" data-id=<%=theater.theaterId%>>
                <div class="cinema-left">
                    <div class="cinema-title">
                        <%=theater.theaterName%>
                        <div class="score">
                            <div class="star">
                                <div class="star star-main">
                                </div>
                            </div>
                            <div class="num">
                                <em>9</em><span>.5</span>
                            </div>
                        </div>
                    </div>
                    <div class="cinema-position">
                        <%=theater.theaterLocation%>
                    </div>
                </div>
                <div class="cinema-right">
                    <div class="cinema-book button">选择场次</div>

                </div>
            </li>
            <%}%>
        </ul>
    </div>
    <div class="moda" id="book">
        <div class="close icon">
        </div>
        <div class="modal-head">
            <h1>选座购票</h1>
        </div>
        <div class="modal-body">
        </div>
    </div>
    <script src="/js/book.js"></script>
<% include foot.html %>