<% include head.html %>
  <link rel="stylesheet" href="css/myorders.css">
  <!-- <script src="js/index.js"></script> -->
  <div class="container">
    <div class="order-list-header">已有订单</div>
    <div class="order-list-content">
      <ul>
        <% for (orderNum in Orders) {
        var order = Orders[orderNum];
        %>
      <li>
        <div class="order-time">下单时间：<%=order.orderTime%> </div>
        <div class="movie"><%=order.movieName%></div>
        <div class="price">￥<%=order.showingPrice%></div>
        <div class="theater"><%=order.theaterName%></div>
        <div class="show-time">放映时间：<%=order.showingTime%></div>
        <div class="room">厅号：<%=order.roomName%></div>
        <div class="seat">座位号：<%=order.seatNum%></div>
      </li>
      <%}%>
      </ul>
    </div>
  </div>
  <% include foot.html %>