<% include head.html %>
  <link rel="stylesheet" href="css/myorders.css">
  <!-- <script src="js/index.js"></script> -->
  <div class="container">
    <div class="order-list-header">已有订单</div>
    <div class="order-list-content">
      <li>
        <div class="movie">大鱼海棠</div>
        <div class="price">￥25.00</div>
        <div class="theater">国家大剧院</div>
        <div class="room">厅号：3号厅</div>
        <div class="seat">座位号：17</div>
      </li>
      <li>
        <div class="movie">大鱼海棠</div>
        <div class="price">￥25.00</div>
        <div class="theater">国家大剧院</div>
        <div class="room">厅号：3号厅</div>
        <div class="seat">座位号：17</div>
      </li>
      <li>
        <div class="movie">大鱼海棠</div>
        <div class="price">￥25.00</div>
        <div class="theater">国家大剧院</div>
        <div class="room">厅号：3号厅</div>
        <div class="seat">座位号：17</div>
      </li>
    </div>
  </div>
  <% include foot.html %>