<% include head.html %>
  <link rel="stylesheet" href="css/myorders.css">
  <!-- <script src="js/index.js"></script> -->
  <div class="container">
    <div class="order-list-header">已有订单</div>
    <div class="order-table-header">
      <div class="movie">电影</div>
      <div class="theater">影院</div>
      <div class="show-time">放映时间</div>
      <div class="room">厅号</div>
      <div class="seat">座位号</div>
      <div class="price">单价</div>
    </div>
    <div class="order-list-content">
      <li>
        <div class="order-time">下单时间：2016-07-01  13:45</div>
        <div class="movie">大鱼海棠</div>
        <div class="theater">国家大剧院</div>
        <div class="show-time">放映时间：2016-07-08  19:00</div>
        <div class="room">厅号：3号厅</div>
        <div class="seat">座位号：17</div>
        <div class="price">￥25.00</div>
      </li>
      <li>
        <div class="order-time">下单时间：2016-07-01  13:45</div>
        <div class="movie">大鱼海棠</div>
        <div class="theater">国家大剧院</div>
        <div class="show-time">放映时间：2016-07-08  19:00</div>
        <div class="room">厅号：3号厅</div>
        <div class="seat">座位号：17</div>      
        <div class="price">￥25.00</div>
      </li>
      <li>
        <div class="order-time">下单时间：2016-07-01  13:45</div>
        <div class="movie">大鱼海棠</div>
        <div class="theater">国家大剧院</div>
        <div class="show-time">放映时间：2016-07-08  19:00</div>
        <div class="room">厅号：3号厅</div>
        <div class="seat">座位号：17</div>      
        <div class="price">￥25.00</div>
      </li>
    </div>
  </div>
  <% include foot.html %>