.container {
  margin: 0 auto;
  width: 80%;
  min-width: 500px;
}
.order-list-header {
  padding: 30px 0px 15px 10px;
  font-size: 2em;
  font-weight: bold;
  background-color: white;
}
.order-list-content li {
  background-color: white;
  list-style: none;
  margin-top: 20px;
  border: 1px solid #ccc;
  /*height: 80px;*/
}
.order-list-content li:hover {
  background-color: #ccc;
}

.order-time {
  height: 45px;
  line-height: 45px;
  background-color: #f1f1f1;
  font-family: Tahoma,Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
  padding-left: 2%;
  border-bottom: 1px solid #ccc;
}
.movie, .price, .theater, .room, .seat, .show-time {
  display: inline-block;
  font-weight: bold;
  margin-right: 2%;
}

.movie {
  margin-top: 20px;
  margin-left: 2%;
}

.price {

}
.theater, .show-time {
}
.room {

}
.seat {
  margin-bottom: 20px;
}