.container {
  margin: 0 auto;
  width: 80%;
  min-width: 500px;
}
.order-list-header {
  padding: 30px 0px 15px 10px;
  font-size: 2em;
  font-weight: bold;
  background-color: white;
}
.order-list-content li {
  background-color: white;
  padding: 20px 10px;
  list-style: none;
  /*height: 80px;*/
  margin-top: 2px
}
.order-list-content li:hover {
  background-color: #ccc;
}
.order-list-content li:first-child {
  border-top: 1px solid #ff4500;
}

.movie, .price, .theater, .room, .seat {
  display: inline-block;
  font-weight: bold;
  margin-right: 2%;
}

.order-list-content li .movie {
  font-size: 2em;
  margin-left: 2%;
}
.order-list-content li .price {
  display: block;
  font-size: 3em;
  font-style: italic;
  float: right;
  margin-right: 3%;
  margin-top: 10px;
}
.order-list-content li .theater {
  font-size: 1.5em;
}
.order-list-content li .room, 
.order-list-content li .seat {
  font-weight: normal;
  display: block;
  font-size: 1.3em;
  margin-left: 2%;
}