.container {
  margin: 0 auto;
  width: 80%;
  min-width: 500px;
}
.order-list-header {
  padding: 30px 0px 15px 10px;
  font-size: 2em;
  font-weight: bold;
  background-color: white;
}
.order-table-header {
  font-size: 1.2em;
  background-color: #e5e5e5;
  margin-top: 10px;
  border: 1px solid #ccc;
  vertical-align: middle;
}
.order-list-content li {
  background-color: white;
  list-style: none;
  margin-top: 20px;
  border: 1px solid #ccc;
}
.order-list-content li:last-child {
  margin-bottom: 40px;
}
.order-list-content li:hover {
  background-color: #ccc;
}

.order-time {
  height: 45px;
  line-height: 45px;
  background-color: #e5e5e5;
  font-family: Tahoma,Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
  padding-left: 2%;
  border-bottom: 1px solid #ccc;
}
.movie, .price, .theater, .room, .seat, .show-time {
  display: inline-block;
  margin-right: 2%;
  text-align: center;
  padding: 20px 0px;
}

.movie {
  width: 15%;
}
.theater {
  width: 15%;
}
.show-time {
  width: 20%;
}
.room {
  width: 10%;
}
.seat {
  width: 10%;
}
.price {
  width: 10%;
}